{% extends 'base.html' %}

{% block title %}
About Us
{% endblock title %}

{% block head %}

<h1>About Us</h1>

<div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
    <div class="col-xl-4 col-md-12">
        <div class="icon-box">
            <i class="ri-fire-fill"></i>
            <h3><a href="">Since 25 years</a></h3>
        </div>
    </div>
    <div class="col-xl-4 col-md-8">
        <div class="icon-box">
            <i class="ri-blaze-fill"></i>
            <h3><a href="">4.5★ Rating</a></h3>
        </div>
    </div>
    <div class="col-xl-4 col-md-8">
        <div class="icon-box">
            <i class="ri-meteor-fill"></i>
            <h3><a href="">World Class</a></h3>
        </div>
    </div>


    {% endblock head %}

    {% block body %}

    <section id="about1" class="about1">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
              <img src="static/assets/img/about2.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
              <h3><b>Our Story</b></h3>
              <p class="fst-italic">
                At Paul Fitness, we believe that fitness and wellbeing are the cornerstones of a full and vibrant life. Established in 1998, we began our journey as a family-owned business dedicated to providing exceptional gym equipment at affordable prices. But, we dreamed bigger than just being an ordinary fitness equipment supplier; we aspired to lead the industry.</p>
                <br>
              
                <p class="fst-italic">

                Our real success lies in the thousands of customers we've empowered to live longer, more joyful, and healthier lives. We're more than just a fitness company – we're your partners in health, your cheerleaders on the sideline, motivating you to reach your personal fitness goals. Embrace the fitness journey with us and see how it transforms your world.</p>
              </p>
              <p>
                Join us in our mission to improve lives through fitness and wellness, because at Gym and Fitness, your health is our passion.
              </p>
            </div>
          </div>


        <hr>
  
          <div class="row about-cols">
  
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
              <div class="about1-col">
                <div class="img">
                  <img src="static/assets/img/about-mission.jpg" alt="" class="img-fluid">
                  <div class="icon"><i class="bi bi-bar-chart"></i></div>
                </div>
                <h2 class="title"><a href="#">Our Mission</a></h2>
                <p>
                  Empowering Your Journey to Health and Strength: Our Gym is dedicated to providing a supportive and inclusive community where individuals of all fitness levels can discover their full potential.Through expert guidance, state-of-the-art facilities, and a passion for wellness, we aim to inspire, motivate, and transform lives. We believe that every step you take within our gym brings you closer to a healthier, stronger, and happier you. Join us in sculpting not just your body, but a lifestyle that radiates vitality and well-being. 
                </p>
              </div>
            </div>
  
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
              <div class="about1-col">
                <div class="img">
                  <img src="static/assets/img/about-plan.jpg" alt="" class="img-fluid">
                  <div class="icon"><i class="bi bi-brightness-high"></i></div>
                </div>
                <h2 class="title"><a href="#">Our Plan</a></h2>
                <p>
                  At our gym, our plan is simple yet comprehensive: to provide you with personalized fitness journeys that combine expert guidance and cutting-edge facilities. We prioritize building an inclusive community where everyone feels welcome and motivated to achieve their goals. With progress tracking, diverse classes, and nutrition advice, our aim is to support your holistic wellness. We celebrate every achievement and believe in evolving our approach to match your evolving needs.
                </p>
              </div>
            </div>
  
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
              <div class="about1-col">
                <div class="img">
                  <img src="static/assets/img/about-vision.jpg" alt="" class="img-fluid">
                  <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                </div>
                <h2 class="title"><a href="#">Our Vision</a></h2>
                <p>
                  Transforming Lives Through Fitness: Our Gym envisions a world where individuals are empowered to lead healthier, more fulfilling lives. We aspire to be the catalyst for positive change by fostering a community that embraces fitness as a journey of self-discovery and growth. Our vision is to inspire individuals of all backgrounds to transcend their limits, unlock their potential, and embrace a lifestyle of vitality and well-being.
                </p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>
  

    {% endblock body %}