{% extends 'base.html' %}

{% block title %}
Services
{% endblock title %}

{% block head %}

<h1>Services</h1>

<div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
    <div class="col-xl-4 col-md-12">
      <div class="icon-box">
        <i class="ri-fire-fill"></i>
        <h3><a href="">Superior Quality</a></h3>
      </div>
    </div>
    <div class="col-xl-4 col-md-8">
      <div class="icon-box">
        <i class="ri-blaze-fill"></i>
        <h3><a href="">15000 Sqft</a></h3>
      </div>
    </div>
    <div class="col-xl-4 col-md-8">
      <div class="icon-box">
        <i class="ri-meteor-fill"></i>
        <h3><a href="">Top Equipment</a></h3>
      </div>
    </div>

{% endblock head %}

{% block body %}

<section id="service1" class="services1 pt-0">
    <div class="container" data-aos="fade-up">


<br><br>
      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="card">
            <div class="card-img">
              <img src="static/assets/img/personaltraining.jpg" alt="" class="img-fluid">
            </div>
            <h3><a href="#" class="stretched-link">Personal Training Sessions</a></h3>
            <p>Highlight your certified personal trainers who provide tailored workout plans, personalized guidance, and motivation to help members achieve their fitness goals effectively.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="card">
            <div class="card-img">
              <img src="static/assets/img/groupclasses.jpg" alt="" class="img-fluid">
            </div>
            <h3><a href="service-details.html" class="stretched-link">Group Fitness Classes</a></h3>
            <p>Showcase a variety of group classes such as yoga, HIIT, spinning, and more, emphasizing the sense of community, fun, and motivation that comes from working out together.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="card">
            <div class="card-img">
              <img src="static/assets/img/nutritioncouncelling.jpg" alt="" class="img-fluid">
            </div>
            <h3><a href="service-details.html" class="stretched-link">Nutritional Counseling</a></h3>
            <p>Feature your nutrition experts who offer advice on balanced eating, meal planning, and supplements to complement workouts and enhance overall well-being.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="card">
            <div class="card-img">
              <img src="static/assets/img/onlineworkout.jpg" alt="" class="img-fluid">
            </div>
            <h3><a href="service-details.html" class="stretched-link">Online Workout Resources</a></h3>
            <p>Promote access to virtual workout classes, personalized routines, and fitness tips accessible through your website or app, allowing members to stay engaged both inside and outside the gym.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="card">
            <div class="card-img">
              <img src="static/assets/img/fitnessgoal.jpg" alt="" class="img-fluid">
            </div>
            <h3><a href="service-details.html" class="stretched-link">Fitness Assessments and Goal Setting</a></h3>
            <p>Emphasize your initial fitness assessments that help members understand their starting point and set achievable goals, ensuring their fitness journey is focused and purposeful.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="card">
            <div class="card-img">
              <img src="static/assets/img/fitnesschallenge.jpg" alt="" class="img-fluid">
            </div>
            <h3><a href="service-details.html" class="stretched-link">Specialty Workshops and Challenges</a></h3>
            <p>Highlight special fitness programs, challenges, and educational workshops that offer members unique experiences and opportunities for personal growth within your gym's community.</p>
          </div>
        </div>

      </div>

    </div>
  </section>


{% endblock body %}